-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."article_category" AS ENUM ('NEWS', 'GUIDE', 'TIER_LIST', 'EVENT');

-- CreateEnum
CREATE TYPE "public"."guide_type" AS ENUM ('CHARACTER_BUILD', 'TEAM_COMP', 'EQUIPMENT', 'STRATEGY', 'BEGINNER', 'ADVANCED', 'EVENT_GUIDE', 'FARMING');

-- CreateEnum
CREATE TYPE "public"."difficulty_level" AS ENUM ('BEGINNER', 'INTERMEDIATE', 'ADVANCED', 'EXPERT');

-- CreateTable
CREATE TABLE "public"."articles" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "author" TEXT NOT NULL,
    "publishedAt" TIMESTAMP(3) NOT NULL,
    "slug" TEXT NOT NULL,
    "imageUrl" TEXT,
    "content" TEXT NOT NULL,
    "metaDescription" TEXT,
    "readingTime" INTEGER,
    "category" "public"."article_category",
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "gameId" TEXT NOT NULL,

    CONSTRAINT "articles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."games" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "genre" TEXT,
    "developer" TEXT,
    "releaseDate" TEXT,
    "imageUrl" TEXT,
    "logoUrl" TEXT,
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "officialSite" TEXT,
    "wiki" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "games_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."tags" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."article_tags" (
    "articleId" TEXT NOT NULL,
    "tagId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "article_tags_pkey" PRIMARY KEY ("articleId","tagId")
);

-- CreateTable
CREATE TABLE "public"."game_tags" (
    "gameId" TEXT NOT NULL,
    "tagId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "game_tags_pkey" PRIMARY KEY ("gameId","tagId")
);

-- CreateTable
CREATE TABLE "public"."seo_keywords" (
    "id" TEXT NOT NULL,
    "keyword" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "seo_keywords_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."article_seo_keywords" (
    "articleId" TEXT NOT NULL,
    "keywordId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "article_seo_keywords_pkey" PRIMARY KEY ("articleId","keywordId")
);

-- CreateTable
CREATE TABLE "public"."guides" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "author" TEXT NOT NULL,
    "publishedAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "slug" TEXT NOT NULL,
    "imageUrl" TEXT,
    "readingTime" INTEGER,
    "difficulty" "public"."difficulty_level" NOT NULL,
    "guideType" "public"."guide_type" NOT NULL,
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "gameId" TEXT NOT NULL,
    "metaDescription" TEXT,

    CONSTRAINT "guides_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."guide_sections" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "guideId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "guide_sections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."guide_prerequisites" (
    "id" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "guideId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "guide_prerequisites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."guide_tags" (
    "guideId" TEXT NOT NULL,
    "tagId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "guide_tags_pkey" PRIMARY KEY ("guideId","tagId")
);

-- CreateTable
CREATE TABLE "public"."guide_seo_keywords" (
    "guideId" TEXT NOT NULL,
    "keywordId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "guide_seo_keywords_pkey" PRIMARY KEY ("guideId","keywordId")
);

-- CreateTable
CREATE TABLE "public"."platforms" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "color" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "platforms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."game_platforms" (
    "gameId" TEXT NOT NULL,
    "platformId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "game_platforms_pkey" PRIMARY KEY ("gameId","platformId")
);

-- CreateTable
CREATE TABLE "public"."youtube_videos" (
    "id" TEXT NOT NULL,
    "videoId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "thumbnail" TEXT,
    "channelTitle" TEXT,
    "publishedAt" TIMESTAMP(3),
    "category" TEXT,
    "duration" TEXT,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "order" INTEGER NOT NULL DEFAULT 0,
    "gameId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "youtube_videos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastLoginAt" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."verification_tokens" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "public"."maintenance_settings" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "message" TEXT NOT NULL DEFAULT 'Site en maintenance. Nous reviendrons bient├┤t !',
    "estimatedEndTime" TIMESTAMP(3),
    "allowAdminAccess" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "enabledBy" TEXT,
    "disabledBy" TEXT,

    CONSTRAINT "maintenance_settings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "articles_slug_key" ON "public"."articles"("slug");

-- CreateIndex
CREATE INDEX "articles_gameId_idx" ON "public"."articles"("gameId");

-- CreateIndex
CREATE INDEX "articles_isPopular_idx" ON "public"."articles"("isPopular");

-- CreateIndex
CREATE INDEX "articles_publishedAt_idx" ON "public"."articles"("publishedAt");

-- CreateIndex
CREATE INDEX "articles_category_idx" ON "public"."articles"("category");

-- CreateIndex
CREATE INDEX "articles_author_idx" ON "public"."articles"("author");

-- CreateIndex
CREATE UNIQUE INDEX "games_name_key" ON "public"."games"("name");

-- CreateIndex
CREATE UNIQUE INDEX "games_slug_key" ON "public"."games"("slug");

-- CreateIndex
CREATE INDEX "games_isPopular_idx" ON "public"."games"("isPopular");

-- CreateIndex
CREATE INDEX "games_genre_idx" ON "public"."games"("genre");

-- CreateIndex
CREATE UNIQUE INDEX "tags_name_key" ON "public"."tags"("name");

-- CreateIndex
CREATE UNIQUE INDEX "tags_slug_key" ON "public"."tags"("slug");

-- CreateIndex
CREATE INDEX "article_tags_articleId_idx" ON "public"."article_tags"("articleId");

-- CreateIndex
CREATE INDEX "article_tags_tagId_idx" ON "public"."article_tags"("tagId");

-- CreateIndex
CREATE INDEX "game_tags_gameId_idx" ON "public"."game_tags"("gameId");

-- CreateIndex
CREATE INDEX "game_tags_tagId_idx" ON "public"."game_tags"("tagId");

-- CreateIndex
CREATE UNIQUE INDEX "seo_keywords_keyword_key" ON "public"."seo_keywords"("keyword");

-- CreateIndex
CREATE INDEX "article_seo_keywords_articleId_idx" ON "public"."article_seo_keywords"("articleId");

-- CreateIndex
CREATE INDEX "article_seo_keywords_keywordId_idx" ON "public"."article_seo_keywords"("keywordId");

-- CreateIndex
CREATE UNIQUE INDEX "guides_slug_key" ON "public"."guides"("slug");

-- CreateIndex
CREATE INDEX "guides_gameId_idx" ON "public"."guides"("gameId");

-- CreateIndex
CREATE INDEX "guides_isPopular_idx" ON "public"."guides"("isPopular");

-- CreateIndex
CREATE INDEX "guides_publishedAt_idx" ON "public"."guides"("publishedAt");

-- CreateIndex
CREATE INDEX "guides_difficulty_idx" ON "public"."guides"("difficulty");

-- CreateIndex
CREATE INDEX "guides_guideType_idx" ON "public"."guides"("guideType");

-- CreateIndex
CREATE INDEX "guides_author_idx" ON "public"."guides"("author");

-- CreateIndex
CREATE INDEX "guide_sections_guideId_idx" ON "public"."guide_sections"("guideId");

-- CreateIndex
CREATE INDEX "guide_sections_order_idx" ON "public"."guide_sections"("order");

-- CreateIndex
CREATE INDEX "guide_prerequisites_guideId_idx" ON "public"."guide_prerequisites"("guideId");

-- CreateIndex
CREATE INDEX "guide_tags_guideId_idx" ON "public"."guide_tags"("guideId");

-- CreateIndex
CREATE INDEX "guide_tags_tagId_idx" ON "public"."guide_tags"("tagId");

-- CreateIndex
CREATE INDEX "guide_seo_keywords_guideId_idx" ON "public"."guide_seo_keywords"("guideId");

-- CreateIndex
CREATE INDEX "guide_seo_keywords_keywordId_idx" ON "public"."guide_seo_keywords"("keywordId");

-- CreateIndex
CREATE UNIQUE INDEX "platforms_name_key" ON "public"."platforms"("name");

-- CreateIndex
CREATE UNIQUE INDEX "platforms_slug_key" ON "public"."platforms"("slug");

-- CreateIndex
CREATE INDEX "game_platforms_gameId_idx" ON "public"."game_platforms"("gameId");

-- CreateIndex
CREATE INDEX "game_platforms_platformId_idx" ON "public"."game_platforms"("platformId");

-- CreateIndex
CREATE UNIQUE INDEX "youtube_videos_videoId_key" ON "public"."youtube_videos"("videoId");

-- CreateIndex
CREATE INDEX "youtube_videos_isActive_idx" ON "public"."youtube_videos"("isActive");

-- CreateIndex
CREATE INDEX "youtube_videos_order_idx" ON "public"."youtube_videos"("order");

-- CreateIndex
CREATE INDEX "youtube_videos_publishedAt_idx" ON "public"."youtube_videos"("publishedAt");

-- CreateIndex
CREATE INDEX "youtube_videos_gameId_idx" ON "public"."youtube_videos"("gameId");

-- CreateIndex
CREATE INDEX "youtube_videos_category_idx" ON "public"."youtube_videos"("category");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "public"."accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "public"."sessions"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "public"."verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "public"."verification_tokens"("identifier", "token");

-- AddForeignKey
ALTER TABLE "public"."articles" ADD CONSTRAINT "articles_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "public"."games"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."article_tags" ADD CONSTRAINT "article_tags_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."article_tags" ADD CONSTRAINT "article_tags_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "public"."articles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."game_tags" ADD CONSTRAINT "game_tags_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."game_tags" ADD CONSTRAINT "game_tags_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "public"."games"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."article_seo_keywords" ADD CONSTRAINT "article_seo_keywords_keywordId_fkey" FOREIGN KEY ("keywordId") REFERENCES "public"."seo_keywords"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."article_seo_keywords" ADD CONSTRAINT "article_seo_keywords_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "public"."articles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guides" ADD CONSTRAINT "guides_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "public"."games"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_sections" ADD CONSTRAINT "guide_sections_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "public"."guides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_prerequisites" ADD CONSTRAINT "guide_prerequisites_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "public"."guides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_tags" ADD CONSTRAINT "guide_tags_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_tags" ADD CONSTRAINT "guide_tags_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "public"."guides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_seo_keywords" ADD CONSTRAINT "guide_seo_keywords_keywordId_fkey" FOREIGN KEY ("keywordId") REFERENCES "public"."seo_keywords"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."guide_seo_keywords" ADD CONSTRAINT "guide_seo_keywords_guideId_fkey" FOREIGN KEY ("guideId") REFERENCES "public"."guides"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."game_platforms" ADD CONSTRAINT "game_platforms_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "public"."games"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."game_platforms" ADD CONSTRAINT "game_platforms_platformId_fkey" FOREIGN KEY ("platformId") REFERENCES "public"."platforms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."youtube_videos" ADD CONSTRAINT "youtube_videos_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "public"."games"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."accounts" ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

